<!DOCTYPE html>
<html>
<head>
    <title>Chat with ChatGPT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="chat-container">
        <img src="https://images-ng.pixai.art/images/orig/bc5f2199-b6e1-4ee4-a40f-8fa389c4867a" alt="Logo" id="logo">
    
        <div id="chat-messages">
            
        </div>
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Type a message..." autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>
    <div id="chat1">
        <span> ChatBot</span>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
